<footer>
    <div class="row">
        <div class="small-12 columns">
            <hr>
            <p class="text-center">
                &copy; 2015 Organization | <a href="legal.html">Legal notice</a>
            </p>
        </div>
    </div>
</footer>